#container2 {
    text-align: center;
}

#form-table {
    margin: 0 auto;
    height: 300px;
}

#clear, #submit {
    width: 100%;
    height: 100%;
}

#data-form {
    text-align: center;
}

#submit {
    background-color: #4CAF50;
    border: none;
    color: white;
}

#sucess_submit {
    text-align: center;
    color: #4CAF50;
}

#get-data, #hide-data {
    height: 50px;
    width: 200px;
    color: white;
    background-color: #363636;
}

.td{
    position: absolute;
}

#title {
    text-align: center;
}

#email_error, #description_error, #due_date_error {
    color: #ff1a1a;
}